altgraph==0.17.5
certifi==2026.2.25
charset-normalizer==3.4.6
docutils==0.22.4
filetype==1.2.0
idna==3.11
Kivy
packaging==26.0
pefile==2024.8.26
Pygments==2.19.2
requests==2.32.5
setuptools==82.0.1
urllib3==2.6.3
